@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 5px;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    display: inline;
    width: 80%;
    font-family: 'Xanh Mono', monospace;
}
.modal .close {
    display: none !important; 
}

.container {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

.header {
    width: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    margin-top: 60px;
}

.header__logo {
    position: relative;
    left: 50px auto;
}

.header__wrapper {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__block {
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav_one {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    /* убрать точки (пункты) */
    /* margin: 5px; */
}

ol {
    margin: 0;
}

.header__not_button {
    text-decoration: none;
    color: #1064E5;
}

.header__nav_two_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__btn {
    background-color: #1064E5;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    /* убрать контур  */
    cursor: pointer;
    border-radius: 20px;
    min-width: 40px;
    cursor: pointer;
}

.header__nav_two {
    display: flex;
    align-items: center
}

/* Dropdown Button */
.header__dropbtn {
    background-color: #8cbaff;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

.header__btn:hover,
.header__btn:focus {
    background-color: #3d88f8;
}

/* Dropdown button on hover & focus */
.header__dropbtn:hover,
.header__dropbtn:focus {
    background-color: #3d88f8;
}

/* The container <div> - needed to position the dropdown content */
.header__dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.header__dropdown-content {
    display: none;
    position: absolute;
    background-color: #bd8c59;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.header__dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.header__dropdown-content a:hover {
    background-color: rgb(221, 221, 221)
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.header__show {
    display: block;
}

/*Intro start*/
/* .intro {
    background: url(img/backgraund.svg) no-repeat;
    background-size: cover; 
    background-position: center;
    position: relative;
    height: 100vh; 
} */

.intro__content {
    height: 750px;
    display: flex;
    align-items: center;
}

.intro__block {
    margin-top: 40px;
    display: inline;

}

.intro__title {
    font-size: 40px;
    margin-top: 14px;
    color: black;
}

.intro__title_img {
    margin-bottom: 10px;
}

.intro__text2 {
    color: black;
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 14px;
}

.intro__text3 {
    font-size: 16px;
    margin-top: 14px;
    color: black;
}

.button__blle {
    text-decoration: none;
    height: 40px;
    padding: 0 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    background-color: #1064E5;
    transition: background-color .4s ease;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 14px;
}

.button__blle:hover {
    color: black;
    background-color: #3d88f8;
    text-decoration: none;
    padding: 0 30px;
    display: inline-flex;
    border: none;
    cursor: pointer;
}

/*Intro end*/

/*Info start*/
.info {
    margin-top: 30px;
    margin-bottom: 30px;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.info__block {
    display: flex;
    margin: 40px;
}

/* .info__block_img {} */

.info__block_text {
    margin-left: 20px;
}

.info__block_text {
    margin-left: 20px;
}

.info__block_text h3 {
    margin-bottom: 20px;
}

/* .info__block_text p {} */

/*Info end*/

/*description start*/
.description {
    background-color: #D8F1F0;

}

.description__product {
    padding: 40px;
    height: 940px;
    width: 100%;
}

.description__product1 {
    display: flex;
    align-items: normal;
    /* align-items: center; */
    /* justify-content: space-around; */
    justify-content: space-between;
    height: 50%;
    margin-top: 20px;
}

.discription__text {
    max-width: 50%;
    max-height: 50%;
}

.discription__text h2 {
    line-height: 1.5;
    /* межстрочный отступ */
    font-size: 40px;
}

.discription__text li {
    list-style: none;
    /* убрать точки (пункты) */
    margin-bottom: 10px;
    line-height: 1.6;
}

.discription__btn {
    text-decoration: none;
    /* убрать подчеркивание  */
    height: 40px;
    padding: 0 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    background-color: white;
    transition: background-color .4s ease;
    cursor: pointer;
    color: #1064E5;
    /* opacity: 0.5; */
    border-color: #1064E5;
    border-radius: 25px;
    margin-top: 14px;
}

.discription__btn:hover {
    color: black;
    background-color: #3d88f8;
    text-decoration: none;
    padding: 0 30px;
    display: inline-flex;
    border: none;
    cursor: pointer;
}

/* .description__img {} */

.description__product2 {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* flex-direction: row-reverse; */
    justify-content: space-between;
    height: 50%;
    align-items: flex-start;
}

/*description end*/

/* Start block_section  */
.block__section {
    display: flex;
    margin-top: 60px;
    margin-bottom: 0px;
}

.block__title {
    text-align: center;
    font-size: 48px;
}

.block__choice {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 98px;
}

.block__choice_all {
    margin-top: 53px;
    width: 256px;
    height: 340px;
    background-color: #DEEEFC;
    border-radius: 8px;
}

.block__choice_one {
    padding: 30px;
}

.block__choice_type {
    font-size: 28px;
}

.block__choice_text {
    font-size: 16px;
    margin-top: 28px;
}

.block__choice_price {
    display: flex;
    align-items: flex-end;
}

.block__choice_price1 {
    font-size: 44px;
}

.block__choice_price2 {
    font-size: 20px;
}

.block__btn {
    margin-top: 8px;
    background-color: #8cbaff;
    color: black;
    padding: 9px;
    font-size: 12px;
    border-radius: 5px;
    border-color: #DEEEFC;
    width: 190px;
    height: 40px;
    border: none;
}

.block__btn:hover {
    background-color: #3d88f8;
    color: black;
}

.block__btn1 {
    margin-top: 70px;
    background-color: #8cbaff;
    color: black;
    padding: 9px;
    font-size: 12px;
    border-radius: 15px;
    border-color: black;
    width: 190px;
    height: 40px;
    border: none;
}

.block__btn1:hover {
    background-color: #3d88f8;
    color: black;
}
/* block_section end */


/* Start process_section */
.process__section {
    text-align: center;
    background-color: #D8F1F0;
    padding: 20px;
    margin-top: 40px;
}

.process__title {
    font-size: 74px;
}

.process__subtitle {
    font-size: 48px;
}

.process__discription {
    font-size: 18px;
}

/* end process_section */

/* Slideshow container */
.slideshow-container {
    position: relative;
    background-color: white;
}

/* Slides */
.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
    background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
    font-style: italic;
}

/* Add a blue color to the author */
.author {
    color: cornflowerblue;
}

/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
} */
.img__content {
    padding: 5px;
    background-color: #D8F1F0;
}

.img__content_info {
    margin-top: 90px;
    margin-bottom: 90px;
}

.img__content img {
    opacity: 0.5;
}

.img__content_title {
    text-align: center;
    font-size: 40px;
}

.img__content_p {
    display: flex;
    margin-top: 30px;
}

.img__content {
    position: relative;
    margin: 0 auto;
    /* Center it */
}

.img__content .img_content_text {
    position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 100%;
    /* Full width */
    padding: 20px;
    /* Some padding */
}

/* end img_content  */

/* Start footer */
.footer {
    background-color: rgb(209, 209, 209);
}

/* .footer_wrapper {}

.footer_label {} */

.footer_logo {
    background-repeat: no-repeat;
}

.foot{
    width: 100%;
    height: 288px;
    display: flex;
    justify-content: space-between;
    background-color: #061224;
}
.foot a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 14;
    line-height: 24px;
}
.foot li{
    list-style: none;
}
.foot small{
    font-weight: 400;
    font-size: 12;
    line-height: 24px;
    color: #fff;
    opacity: 40%;
}
.foot-1{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.foot-1-logo{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.foot-1-logo img{
    width: 131px;
    margin-bottom: 25px;
}
.foot-1-list{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.foot-1-list-1{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.foot-1-list-2{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.foot-1-list-2 ul{
    margin-bottom: 35px;
}
.foot-2{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot-2-list{
    height: 65%;
    width: 50%;
}
.foot-2-list2{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.foot-2-list2 small{
    line-height: 30px;
    width: 165px;
}
/* 
.copyright {}

.footer_discription {}

.footer__contacts {}

.block__title {} */